<wicket:panel xmlns:wicket="http://wicket.apache.org">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				<wicket:message key="touragents.contract">[Contract]</wicket:message>
			</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-5">
					<strong><wicket:message key="touragents.contract.number">[Contract number]</wicket:message>: </strong> <span
						wicket:id="contract_number"
					>[Contract number]</span>
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-5">
					<strong><wicket:message key="touragents.contract.date">[Contract date]</wicket:message>: </strong> <span
						wicket:id="contract_date"
					>[Contract date]</span>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
	</div>
</wicket:panel>