<wicket:panel xmlns:wicket="http://wicket.apache.org">
	<div class="row">
		<div class="col-md-12">&nbsp;</div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<form wicket:id="form" class="well">
				<div class="row">
					<div class="col-md-12" wicket:id="feedback"></div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<wicket:message key="resource.name" />
						<input wicket:id="name" type="text" class="form-control" wicket:message="placeholder:resource.name">
						<br>
						<input wicket:id="submit" type="submit" class="btn btn-primary" wicket:message="value:save">
					</div>
				</div>
			</form>
			<div class="col-md-1"></div>
		</div>
	</div>
</wicket:panel>
