<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="language" content="ru-Ru" />
<title>ИДЕНТИФИКАЦИОННАЯ КАРТА</title>
</head>
<body>
	<div style="font-family: Verdana, sans-serif; font-size: 14px; border: 1px solid #000000; padding: 4px; width: 750px;">
		<table style="width: 750px; border-spacing: 0; border-collapse: 0">
			<tr>
				<td style="width: 50%; font-weight: bold; font-size: 24px; border-bottom: 1px solid #000000;">
					<img src="cid:logoimg" name="Kapitalsugurta" align="top" border="0" height="30" width="30"/> KAPITAL SUG’URTA
					<div style="font-weight: normal; font-size: 12px;">Акционерное Общество / Страховая Компания</div>
				</td>
				<td
					style="width: 50%; text-align: right; border-left: 1px solid #000000; padding-left: 10px; border-bottom: 1px solid #000000;">
					Ташкент, ул. Махатмы Ганди, 44<br> Тел.: (+99871) 232-02-00,<br> e-mail: <a href="mailto:info@ksc.uz">info@ksc.uz</a>,
					<a href="www.ksc.uz">www.ksc.uz</a>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="padding: 15px; font-size: 20px; font-weight: bold; text-align: center;">
					Идентификационная карта № 0202/1500679-$number$
				</td>
			</tr>
			<tr>
				<td colspan="2" style="padding: 0 15px; font-size: 14px">
					Ф.И.О. застрахованного: <strong>$fio$</strong><br> 
					Серия и номер паспорта: <strong>$passport$</strong><br>
					Дата рождения: <strong>$birth_date$</strong><br>
					Период страхования:  <strong>с $from$ по $till$</strong><br>
					Количество дней: <strong>$days$</strong><br>
					Программа медицинского страхования: <strong>HOTELIOS</strong><br>
					Страховая сумма: <strong>2 000 USD</strong><br>
					Страховая премия: <strong>$amount$ USD</strong><br>
					Дата выдачи: <strong>$issue_date$</strong><br>
					Территория страхования: <strong>Республика Узбекистан</strong><br>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="font-size: 20px; font-weight: bold; text-align: center;">
					<br>При наступлении страхового случая необходимо звонить по номеру 
				</td>
			</tr>
			<tr>
				<td colspan="2" style="font-size: 32px; font-weight: bold; text-align: center;">
					(+998 71) 140-11-45 или (+998 71) 140-11-47
				</td>
			</tr>
			<tr>
				<td colspan="2" style="padding: 0 15px; font-size: 12px">
					<br>
					Настоящая идентификационная карточка выдана в соответствии с условиями Генерального договора страхования на случай болезни 
					(добровольное медицинское страхование)  № 0202/204/3/1500679 от 09.11.2015, разработанного на основании Правил по классу 2 
					«Страхование на случай болезни» отрасли общего страхования.
				</td>
			</tr>
			<tr>
				<td colspan="2"><br><hr style="margin-top: 10px; margin-bottom: 10px; border: 1px dashed #000000;"><br></td>
			</tr>
			<tr>
				<td colspan="2" style="padding: 15px; font-size: 20px; font-weight: bold; text-align: center;">
					Insurance identification card #0202/1500679-$number$
				</td>
			</tr>
			<tr>
				<td colspan="2" style="padding: 0 15px; font-size: 14px">
					Full name of insured person: <strong>$fio$</strong><br>
					Passport data: <strong>$passport$</strong><br>
					Date of Birth: <strong>$birth_date$</strong><br>
					Insurance period: <strong>from $from$ till $till$</strong><br>
					Total days: <strong>$days$</strong><br>
					Health insurance program: <strong>HOTELIOS</strong><br>
					Insurance amount: <strong>2 000 USD</strong><br>
					Insurance premium: <strong>$amount$ USD</strong><br>
					Issue date: <strong>$issue_date$</strong><br>
					Territory of insurance: <strong>The Republic of Uzbekistan</strong><br>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="font-size: 20px; font-weight: bold; text-align: center;">
					<br>In the insurance case please to call the number  
				</td>
			</tr>
			<tr>
				<td colspan="2" style="font-size: 32px; font-weight: bold; text-align: center;">
					(+998 71) 140-11-45 or (+998 71) 140-11-47
				</td>
			</tr>
			<tr>
				<td colspan="2" style="padding: 0 15px; font-size: 12px">
					<br>
					This ID card is issued in accordance with the terms of the contract of health insurance (voluntary medical insurance) 
					№ 0202/204/3/1500679 from 09.11.2015 developed pursuant to Regulation Class 2 "Health insurance" general insurance industry.
					<br><br>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>